
.container
{
    display:flex;
    justify-content: center;
    height:32rem;
    margin-top:2rem;
}
.welcome
{
    text-align: center;
    width:40rem;
    height:23rem;
    padding:30px;
    margin:20px;
}
